[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
liskSepolia = "https://rpc.sepolia-api.lisk.com"

[etherscan]
liskSepolia = { key = "", url = "https://sepolia-blockscout.lisk.com/api" }
